@media(max-width :1440px) {
    .nav {
        display: flex;
        justify-content: space-between;
        width: 100vw;
        padding: 0 3rem;
        position: fixed;
        top: 0;
        height: 3rem;
        background-color: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(10px);
        align-items: center;


        h1 {
            display: flex;
            width: 50%;
            color: #00a8e8;
            text-align: center;
            align-items: center;
        }

        ul {
            display: flex;
            justify-content: space-between;
            list-style: none;
            width: 50%;
            cursor: pointer;
            font-weight: 500;
            color: black;
        }

        li:hover {
            color: #00a8e8;
        }

    }

    button {
        background-color: #00a8e8;
        margin: 0 0 0 7rem;
        color: white;
        border: transparent;

        &:hover {
            cursor: pointer;
            background-color: #023e8a;
        }
    }

    .activelink {
        color: #00a8e8;
    }
}

@media(max-width :1024px) {
    .nav {
        display: flex;
        justify-content: space-between;
        width: 100vw;
        padding: 0 3rem;
        position: fixed;
        top: 0;
        height: 3rem;
        background-color: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(10px);
        align-items: center;


        h1 {
            display: flex;
            width: 50%;
            color: #00a8e8;
            text-align: center;
            align-items: center;
        }

        ul {
            display: flex;
            justify-content: space-between;
            list-style: none;
            width: 50%;
            cursor: pointer;
            font-weight: 500;
            color: black;
        }

        li:hover {
            color: #00a8e8;
        }

    }

    button {
        background-color: #00a8e8;
        margin: 0 0 0 7rem;
        color: white;
        border: transparent;

        &:hover {
            cursor: pointer;
            background-color: #023e8a;
        }
    }

    .activelink {
        color: #00a8e8;
    }
}