<div class="nav">
    <h1>Comfy Homes</h1>
    <ul>
        <li routerLinkActive="activelink" routerLink="/home">Home</li>
        <li routerLinkActive="activelink" routerLink="/living">Living</li>
        <li routerLinkActive="activelink" routerLink="/bed">Bedroom</li>
        <li routerLinkActive="activelink" routerLink="/dining">Dining</li>
        <li routerLinkActive="activelink" routerLink="/kitchen">Kitchen</li>
        <!-- <li routerLinkActive="activelink" routerLink="/">Favorites</li>   -->

    </ul>

    <button (click)="logout()">Logout</button>
    
</div>
